html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #7159c1;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
}

header {
  background: yellow;
  grid-column: 1 / 3;
}

main {
  background: blue;
  grid-column-start: 1;
  grid-column-end: 2;
}

aside {
  background: green;
  grid-column: 2 / 3;
}

footer {
  background: red;
  grid-column: 1 / 3;
}
